header{
    background-color:black;
}

#amazonlogo{
    height:50px;
    width:100px;
}

#Content{
    border:#0F1111;
    background-color:rgba(0,255,0,0.5);
    text-align:center;
    height:600px;
    border:10px solid blue;
    
}

footer{
    border:#0F1111;
    background-color: rgba(0,0,255,0.5);
    text-align:center;
    height:100px;
    border:10px solid purple;
}

#Navid{
    display:inline-flex;
    flex-direction:row;
    
}

#search{
    width:30px;
    height:30px;
}

#searchbox{
    background-color: orange;
    border:1px solid rgb(255, 255, 255);
    width:45px;
    height:45px;
   
}

#location{
    background-color:white;
    width:auto;
    height:fit-content;
    border:1px solid rgb(255, 255, 255);
    border-radius:50%;
}


#cartbox{
    background-color:white;
    width:auto;
    height:fit-content;
    border:1px solid rgb(255, 255, 255);
}


#carticon{
    width:30px;
    height:30px;
}




