/*|-------------------------------|*/
/*|   Navigation Bar CSS Start :  |*/
/*| ------------------------------|*/

header{
    background-color:black;
    height:56px;
    width:100%;
    position:fixed;
    font-family:sans-serif;
    font-size:15px;
}

body{
    margin:0px;
}

#amazonlogo{
    height:50px;
    width:100px;
    margin-right:35px;
}

#Navid{
    display:inline-flex;
    flex-direction:row; 
    align-items:center;
    justify-content:space-evenly;
    
}

#search{
    width:30px;
    height:30px;
    
}

#searchbox{
    background-color: orange;
    border:1.25px solid rgb(255, 149, 0);
    width:32px;
    height:32px;
    margin-right:32px;
   
}

#location{
    background-color:white;
    width:26px;
    height:30px;
    border:1px solid rgb(255, 255, 255);
    border-radius:40%;
}

#locationicon{
    width:25px;
    height:30px;
}


#cartbox{
    background-color:white;
    width:fit-content;
    height:fit-content;
    border:1px solid rgb(255, 255, 255);
    border-radius:50%;
}


#carticon{
    width:20px;
    height:20px;

}

.general_dropdown{
    width:44px;
    height:36px;
}

#input{
    height:30px;
    width:550px;
}

#delivery{
    margin-right:40px;
    color:white;
}

#dropdown_lang{
    margin-right:35px;
}

#signin{
    color:white;
    margin-right:50px;
}

#orders{
    color:white;
    margin-right:32px;
}

#cart{
    color:white;
    margin-right:8px;
}

#seller{
    color:white;
    margin-right:30px
}

/*End*/
/*----------------------------------------------------------------------------------------------------------------*/

/*|----------------------------------------|*/
/*|    Second Navigation bar CSS Start :   |*/
/*| ---------------------------------------|*/

#second_navid{
    padding-top:56px;
    background-color:rgb(29, 44, 62);
    height:35px;
    width:100%;
}

.second_nav_items{
    color:white;
    text-decoration:none;
    font-family:sans-serif;
    display:inline-flex;
    align-items:center;
}
    










